body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"], button {
    margin-bottom: 10px;
    width: 100%;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

li:hover {
    background-color: #ddd;
}

.card {
    display: flex;
    flex-wrap: wrap;
}

.bebida {
    width: 200px;
    background-color: #f2f2f2;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.bebida:hover {
    background-color: #ddd;
}

.bebida h3 {
    margin-top: 0;
}

.bebida p {
    margin-bottom: 5px;
}

.bebida button {
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}

.bebida button:hover {
    background-color: #45a049;
}
